<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Đổi mật khẩu</title>
    <link rel="icon" th:href="@{/img/icon/favicon.ico}" type="image/x-icon"/>

    <!-- bootstrap@5.3.3/dist/css/bootstrap.min.css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <link rel="stylesheet" th:href="@{/css/change_password_page.css}">
</head>
<body>
    <main class="form-signin w-100 m-auto">
        <form class="text-center" th:action="@{/change-password}" method="POST">
            <a th:href="@{/home}">
                <img class="logo" th:src="@{/img/logo/logo(black).png}" alt="logo" width="280">
            </a>

            <h1 class="h3 mb-3 fw-normal">ĐỔI MẬT KHẨU</h1>

            <th:block th:if="${session.loginedUser == null}">
                <div class="text-center"><p class="red"><i>Bạn chưa đăng nhập vào hệ thống. Vui lòng đăng nhập!</i></p></div>

                <a th:href="@{/login}" class="w-100 btn btn-lg btn-primary mb-2" type="submit">Tới trang đăng nhập</a>
            </th:block>

            <th:block th:if="${session.loginedUser != null}">
                <div class="text-center"><p class="red"><i th:text="${message}"></i></p></div>

                <div class="form-floating">
                    <input type="password" class="form-control" id="matKhauHienTai"
                           placeholder="Mật khẩu hiện tại" name="password" required> <label for="matKhauHienTai">Mật khẩu hiện tại</label>
                </div>

                <div class="form-floating">
                    <input type="password" class="form-control" id="matKhauMoi"
                           placeholder="Mật khẩu mới" name="newPassword" required> <label for="matKhauMoi">Mật khẩu mới</label>
                </div>

                <div class="form-floating">
                    <input type="password" class="form-control" id="matKhauMoiNhapLai"
                           placeholder="Mật khẩu mới nhập lại" name="newPasswordAgain" required> <label for="matKhauMoiNhapLai">Mật khẩu mới nhập lại</label>
                </div>

                <button class="w-100 btn btn-lg btn-primary mb-2" type="submit">Lưu mật khẩu</button>
            </th:block>

            <p class="mt-5 mb-3 text-muted">&copy; 2024 Jacobin.live</p>
        </form>
    </main>

    <!-- bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js -->
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
