<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <link rel="icon" th:href="@{/img/icon/favicon.ico}" type="image/x-icon">

    <!-- bootstrap@5.3.3/dist/css/bootstrap.min.css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <link rel="stylesheet" href="https://unpkg.com/simple-datatables@9.0.3/dist/style.css">

    <link rel="stylesheet" th:href="@{/css/dashboard_page.css}">
</head>
<body class="sb-nav-fixed">
    <!-- Navbar -->
    <div th:replace="~{includes/admin/header}"></div>
    <!-- End Navbar -->

    <div id="layoutSidenav">
        <!-- Menu left -->
        <div th:replace="~{includes/admin/left}"></div>
        <!-- End Menu left -->

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Thêm nhân viên</h1>
                    <div class="d-flex justify-content-between align-items-center">
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a th:href="@{/dashboard}">Dashboard</a></li>
                            <li class="breadcrumb-item"><a th:href="@{/dashboard/manager-staff}">Quản lý nhân viên</a></li>
                            <li class="breadcrumb-item active">Thêm nhân viên</li>
                        </ol>
                    </div>
                    <div class="container">
                        <div class="table-wrapper">
                            <form th:action="@{/dashboard/manager-staff/add-staff}" method="POST">
                                <div class="row mt-2">
                                    <div class="col-sm-6">
                                        <p><strong>Thông tin nhân viên</strong></p>

                                        <div class="form-floating mb-4">
                                            <input type="text" class="form-control" id="ten" placeholder="Tên" name="firstName" th:value="${user != null} ? ${user.firstName} : ''" required>
                                            <label for="ten">Tên <span class="red">*</span></label>
                                        </div>

                                        <div class="form-floating mb-4">
                                            <input type="text" class="form-control" id="ho" placeholder="Họ" name="lastName" th:value="${user != null} ? ${user.lastName} : ''" required>
                                            <label for="ho">Họ <span class="red">*</span></label>
                                        </div>

                                        <div class="form-floating mb-4">
                                            <input type="date" class="form-control" id="ngaySinh" placeholder="Ngày sinh" name="dateOfBirth" th:value="${user != null} ?  ${user.dateOfBirth} : ''" required>
                                            <label for="ngaySinh">Ngày sinh <span class="red">*</span></label>
                                        </div>

                                        <div class="form-floating mb-4">
                                            <input type="text" class="form-control" id="diaChiKhachHang" placeholder="Địa chỉ" name="address" th:value="${user != null} ?  ${user.address} : ''" required>
                                            <label for="diaChiKhachHang">Địa chỉ <span class="red">*</span></label>
                                        </div>

                                        <div class="form-floating mb-4">
                                            <input type="email" class="form-control" id="diaChiEmail" placeholder="Email" name="email" th:value="${user != null} ? ${user.email} : ''" required>
                                            <label for="diaChiEmail">Email <span class="red">*</span></label>
                                        </div>

                                        <div class="form-floating mb-4">
                                            <input type="tel" class="form-control" id="dienThoai" placeholder="Số điện thoại" name="phone" th:value="${user != null} ? ${user.phone} : ''" required>
                                            <label for="dienThoai">Số điện thoại <span class="red">*</span></label>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <p><strong>Thông tin tài khoản</strong></p>

                                        <div class="form-floating mb-4">
                                            <input type="text" class="form-control" id="tenDangNhap" placeholder="Tên đăng nhập" name="userName" th:value="${user != null} ? ${user.userName} : ''" required>
                                            <label for="tenDangNhap">Tên đăng nhập <span class="red">*</span></label>
                                        </div>

                                        <div class="form-floating mb-4">
                                            <input type="password" class="form-control" id="matKhau" placeholder="Mật khẩu" name="password" required>
                                            <label for="matKhau">Mật khẩu <span class="red">*</span></label>
                                        </div>

                                        <div class="form-floating mb-4">
                                            <input type="password" class="form-control" id="matKhauNhapLai" placeholder="Nhập lại mật khẩu" name="passwordAgain" required>
                                            <label for="matKhauNhapLai">Nhập lại mật khẩu <span class="red">*</span></label>
                                        </div>
                                        <hr/>
                                        <button class="w-100 btn btn-lg btn-primary mb-2" type="submit" id="submit">Xác nhận</button>
                                        <strong class="text-success" th:text="${message}"></strong>
                                        <strong class="text-danger" th:text="${messageError}"></strong>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </main>

            <!-- Footer -->
            <div th:replace="~{includes/admin/footer}"></div>
            <!-- End footer -->
        </div>
    </div>

    <!-- bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js -->
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/simple-datatables@9.0.3/dist/umd/simple-datatables.js"></script>

    <script th:src="@{/js/sidebarToggle.js}"></script>
    <script th:src="@{/js/datatablesSimple.js}"></script>
</body>
</html>
