<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <link rel="icon" th:href="@{/img/icon/favicon.ico}" type="image/x-icon">

    <!-- bootstrap@5.3.3/dist/css/bootstrap.min.css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <link rel="stylesheet" href="https://unpkg.com/simple-datatables@9.0.3/dist/style.css">

    <link rel="stylesheet" th:href="@{/css/dashboard_page.css}">
</head>
<body class="sb-nav-fixed">
    <!-- Navbar -->
    <div th:replace="~{includes/admin/header}"></div>
    <!-- End Navbar -->

    <div id="layoutSidenav">
        <!-- Menu left -->
        <div th:replace="~{includes/admin/left}"></div>
        <!-- End Menu left -->

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Quản lý nhân viên</h1>
                    <div class="d-flex justify-content-between align-items-center">
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a th:href="@{/dashboard}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Quản lý nhân viên</li>
                        </ol>
                        <a th:href="@{/dashboard/manager-staff/add-staff}" class="btn btn-outline-success rounded">
                            <i class="fa-solid fa-circle-plus fa-fw"></i><strong>Thêm nhân viên mới</strong>
                        </a>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Danh sách nhân viên
                            <span class="m-lg-4">
                                <strong class="text-success" th:text="${message}"></strong>
                                <strong class="text-danger" th:text="${messageError}"></strong>
                            </span>
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple">
                                <thead>
                                <tr>
                                    <th>Mã</th>
                                    <th>Tên</th>
                                    <th>Họ</th>
                                    <th>Số điện thoại</th>
                                    <th>Email</th>
                                    <th>Trạng thái</th>
                                    <th class="action-size">Hành động</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Mã</th>
                                    <th>Tên</th>
                                    <th>Họ</th>
                                    <th>Số điện thoại</th>
                                    <th>Email</th>
                                    <th>Trạng thái</th>
                                    <th class="action-size">Hành động</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <th:block th:each="u : ${ListU}">
                                    <tr>
                                        <td th:text="${u.userId}"></td>
                                        <td th:text="${u.firstName}"></td>
                                        <td th:text="${u.lastName}"></td>
                                        <td th:text="${u.phone}"></td>
                                        <td th:text="${u.email}"></td>
                                        <td>
                                            <span th:if="${u.locked}" th:text="'Đã bị khóa'"></span>
                                            <span th:unless="${u.locked}" th:text="'Bình thường'"></span>
                                        </td>

                                        <td>
                                            <div style="display: inline-block;">
                                                <a th:href="'/dashboard/manager-staff/detail-staff?userId=' + ${u.userId}" class="icon-detail">
                                                    <i class="fa-solid fa-circle-info" style="font-size: 20px;" data-toggle="tooltip" title="Chi tiết"></i>
                                                </a>
                                            </div>

                                            <th:block th:if="${!u.locked}">
                                                <div style="display: inline-block;">
                                                    <form th:action="@{/dashboard/manager-staff/lock}" method="post" id="lockForm">
                                                        <input type="hidden" th:name="userId" th:value="${u.userId}" />
                                                        <input type="hidden" th:name="email" th:value="${u.email}" />
                                                        <button type="submit" class="icon-lock"
                                                                th:attr="onclick='return confirmLockUser(\'' + ${u.userId} + '\', \'' + ${u.email} + '\')'">
                                                            <i class="fa-solid fa-user-lock" data-toggle="tooltip" title="Khóa"></i>
                                                        </button>
                                                    </form>
                                                </div>
                                            </th:block>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>

            <!-- Footer -->
            <div th:replace="~{includes/admin/footer}"></div>
            <!-- End footer -->
        </div>
    </div>

    <script>
        function confirmLockUser(userId, email) {
            return confirm("Bạn có chắc chắn muốn khóa tài của nhân viên [" + userId + " - " + email + "] không?");
        }
    </script>

    <!-- bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js -->
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/simple-datatables@9.0.3/dist/umd/simple-datatables.js"></script>

    <script th:src="@{/js/sidebarToggle.js}"></script>
    <script th:src="@{/js/datatablesSimple.js}"></script>
</body>
</html>
