<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Jacobin Store</title>
    <link rel="icon" th:href="@{/img/icon/favicon.ico}" type="image/x-icon"/>

    <!-- bootstrap@5.3.3/dist/css/bootstrap.min.css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <link rel="stylesheet" th:href="@{/css/home_page.css}">

    <style>
        #image-preview {
            max-width: 100%;
            border: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <div th:replace="~{includes/customer/header}"></div>
    <!-- End Navbar -->

    <!-- Page content -->
    <div class="container mt-4">
        <div class="row">
            <!-- Menu left -->
            <div th:replace="~{includes/customer/left}"></div>
            <!-- End Menu left -->

            <!-- Detail Product -->
            <div class="col-sm-9">
                <div class="container">
                    <div class="card">
                        <div class="row">
                            <aside class="col-sm-5 border-right">
                                <article class="gallery-wrap">
                                    <div class="img-big-wrap">
                                        <div>
                                            <img id="image-preview" th:src="${product.image}" alt="...">
                                        </div>
                                    </div>
                                    <!-- slider-product.// -->
                                    <div class="img-small-wrap"></div>
                                    <!-- slider-nav.// -->
                                </article>
                                <!-- gallery-wrap .end// -->
                            </aside>
                            <aside class="col-sm-7">
                                <article class="card-body p-5">
                                    <h3 class="title mb-3" th:text="${product.name}"></h3>

                                    <p class="price-detail-wrap">
                                <span class="price h3 text-warning">
                                    <span class="currency" th:text="${product.priceCurrencyFormat}"></span>
                                </span>
                                    </p>
                                    <!-- price-detail-wrap .// -->
                                    <dl class="item-property">
                                        <dt>Tiêu đề:</dt>
                                        <dd>
                                            <p th:text="${product.title}"></p>
                                        </dd>

                                        <dt>Mô tả:</dt>
                                        <dd>
                                            <p th:text="${product.description}"></p>
                                        </dd>
                                    </dl>

                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <strong th:text="'Size: ' + ${product.size}"></strong>
                                            <!-- item-property .// -->
                                        </div>
                                        <!-- col.// -->

                                    </div>
                                    <!-- row.// -->
                                    <hr>
                                    <form th:action="@{/cart}" method="POST" style="display: inline-block;">
                                        <input type="hidden" name="action" value="add">
                                        <input type="hidden" name="productId" th:value="${product.productId}">
                                        <button class="btn btn-lg btn-outline-primary text-uppercase" type="submit">
                                            <i class="fas fa-shopping-cart">&nbsp;</i>Thêm vào giỏ hàng
                                        </button>
                                    </form>
                                </article>
                                <!-- card-body.// -->
                            </aside>
                            <!-- col.// -->
                        </div>
                        <!-- row.// -->
                    </div>
                    <!-- card.// -->
                </div>
            </div>
            <!-- End Detail Product -->

        </div>
    </div>
    <!-- End Page content -->

    <!-- Footer -->
    <div th:replace="~{includes/customer/footer}"></div>
    <!-- End footer -->

    <!-- bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js -->
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>